.schoolDbTable {
    border-collapse: collapse;
    width:fit-content;
}

.schoolDbTable td, .schoolDbTable th {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
    white-space: nowrap; 
}

.schoolDbTable th {
    background-color: rgb(144, 204, 160);
} 

.whatsapp_icon {
    display: none;
    float: right;
    cursor: pointer;
    color: green;
}

.whatsapp:hover .whatsapp_icon {
    display: block;
}
